:root {
    --hue: 220;
    --sat: 100;
    --light: 81;
}
  
.btn {
    background: hsl(var(--hue), calc(var(--sat) * 1%), calc(var(--light) * 1%));
}
.something {
    opacity: -2; /* resolves to 0, transparent */
    opacity: -1; /* resolves to 0, transparent */
    opacity: 2; /*resolves to 1, fully opaque */
    opacity: 100; /* resolves to 1, fully opaque */
}
:root {
    --light: 80;
    /* the threshold at which colors are considered "light." Range: integers from 0 to 100,
  recommended 50 - 70 */
    --threshold: 60;
}
  
.btn {
    /* Any lightness value below the threshold will result in white, any above will result in black */
    --switch: calc((var(--light) - var(--threshold)) * -100%);
    color: hsl(0, 0%, var(--switch));
}



tbody tr:nth-child(odd) {
    background-color: #ccc;
}
 
 