header, footer, section, aside, nav, div {
	border-style: dotted;
	border-color: red;
}

header {
    padding: 12px;
}

/*.block_a {border-style: dotted;}*/
div {
    margin: 12px;
}

.block_a {text-align: center;}
.block_b {text-align: justify;}

