header {
    border-style: dotted;
    padding: 12px;
}

/*.block_a {border-style: dotted;}*/
div {
    border-style: dotted;
    margin: 12px;
}

.block_a {text-align: center;}
.block_b {text-align: justify;}

