.color_bg-white-glass-30 {background-color: rgba(255, 255, 255, 0.3);}
.color_bg-white-glass-10 {background-color: rgba(255, 255, 255, 0.1);}
.color_bg-dark_red-glass-10 {background-color: rgba(160, 39, 39, 0.1);}
 