img, video {width: 100%; height: auto;}

/*img.logo {max-width: 250px;}*/

/* table img */
.figu_tbl_icon {
  /*display: inline-block;/*block*/
  border: 1px solid #fff;
  /*padding: 0 6px;*/
  float: left;
  /*max-width: /*250px;*/ /*24,99999%;*//*200px*/
}
/*.figu-tbl_icon:hover {}*/

/*figcaption see in img.css*/
@media only screen and (max-width: 700px) {
  .figu_tbl_icon {
    width: 49.99999%;
    /*margin: 6px 0;*/
  }
}
@media only screen and (max-width: 500px) {
  .figu_tbl_icon /*responsive*/ {
    width: 100%;
  }
}
figcaption{
  font-family: "High Tower Text", sans-serif;
  font-size: large;
  /*padding: 15px;
  text-align: center;*/
}
figcaption:hover {
	background-color:#fff;
	color: black;
  font-family: "Lucida Console", monospace;}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}
  
div.gallery:hover {
  border: 1px solid #777;
}
  
div.gallery img {
  width: 100%;
  height: auto;
}
  
div.desc {
  padding: 15px;
  text-align: center;}