.menu-icon{
  cursor: pointer;
  font-size:30px;
}

#mmenu{
  position: fixed;
  top: -3%;
  left: 50%;}
#mmenu:hover {top: 0%;}
#mmenu nav{background-color: rgba(0,0,0,0.4);}
#content nav>ul{
	list-style: none;
	margin: 10px;
	padding: 0;
  text-transform: uppercase;
  font-size: 1.5em;
  text-align: center;}

  /*LINKS*/
/*a{
  text-decoration:none;
  color: #008CBA;}*/
/*a:link {color: #008CBA;}/* unvisited link */
/*a:visited {color: green;}/* visited link */
/*a:hover {color: red;}/* mouse over link */
/*a:active {color: #008CBA;}/* selected link */

/*.btn_lnk_1:link, .btn_lnk_1:visited*/ .btn-after a:link, a:visited {
  background-color: hsla(195, 100%, 40%, 0.6);
  color: white;
  padding: 10px;
  margin: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 30px;
  box-shadow: 2px 4px 4px 2px rgba(0,0,0,0.7);
  -webkit-box-shadow: 2px 4px 4px 2px rgba(0,0,0,0.7);
  -moz-box-shadow: 2px 4px 4px 2px rgba(0,0,0,0.7);
}
/*.btn_lnk_1:hover, .btn_lnk_1:active*/ .btn-after a:hover, a:active {background-color: hsla(130, 90%, 70%, 0.6);}

.pagination a{
  text-decoration: none;
  color: wight;
  float: left;
  padding: 8px 16px;
  transition: background-color .3s;}

.pagination a:hover:not(.active){background-color: #ddd;}
.pagination a.active{
  background-color: #4CAF50;
  color: white;}