@import url("menuNlinks.css");
@import url("table.css");
@import url("form.css");
@import url("img.css");
@import url("txt.css");
@import url("color.css");

/*** Common ***/
*, *::before, *::after {
  box-sizing:border-box;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
}
.clearfix::after, .row::after {
  content: "";
  display: table;
  clear: both;
}
html {font-family: "Comic Sans MS", "Century Gothic", sans-serif;}

/*** Layout ***/
body{
  background: hsla(247, 96%, 11%, 0.5) url("../../img/background/night_sky.jpg") no-repeat fixed center;
  /*"../../img/background/tree_4.jpg"*/
  background-size: cover;
  color: #beb8cc;
  /*"Times New Roman", Times, Consolas, serif*/
  font-size: 100%;
  justify-content: center;}

.content {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 1px 3px rgba(14, 9, 9, 0.5), 0 1px 2px rgba(0, 0, 0, 0.7);
  border-radius: 30px;
}

.aside {
  background-color: hsla(209, 82%, 58%, 0.5);
  padding: 13px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.2);
}

/*.card {
  margin: 8px 0;
  padding: 10px 20px;
  box-shadow: 0 1px 3px rgba(14, 9, 9, 0.5), 0 1px 2px rgba(0, 0, 0, 0.7);
}*/
.card:first-child {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.card:last-child {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1rem;
  padding: 0 1rem;
}
.grid-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: .5rem;
  align-items: flex-start;
}
/*** COLOR ***/

/*** LINKS ***/

/*** Style the tab ***/
.tab{
  overflow: hidden;
  /*border: 1px solid #ccc;*/
  /*background-color: #f1f1f1;*/
}
.tab button {
  /*background-color: inherit;*/
  float: left;
  border: 1px solid rgb(116, 13, 235);
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  margin-left: 5px;
  border-radius: 30px;
  transition: 0.3s;
}
.tab button:hover {
  background-color: #ddd;
}
.tab button.active {
  /*background-color: #ccc;*/
}
.tab-content { display: none; }

/*** Cursor ***/
summary {cursor: pointer;}

/*** Other ***/
.shadow-white {
  /*box-shadow: 0 1px 3px rgba(235, 225, 225, 0.5), 0 1px 2px rgba(255, 255, 255, 0.7);*/
  box-shadow: 2px 4px 4px 2px rgba(255,255,255,0.7);
  -webkit-box-shadow: 2px 4px 4px 2px rgba(255,255,255,0.7);
  -moz-box-shadow: 2px 4px 4px 2px rgba(255,255,255,0.7);
}
.shadow {
  /*box-shadow: 0 1px 3px rgba(14, 9, 9, 0.5), 0 1px 2px rgba(0, 0, 0, 0.7);*/
  box-shadow: 2px 4px 4px 2px rgba(0,0,0,0.7);
  -webkit-box-shadow: 2px 4px 4px 2px rgba(0,0,0,0.7);
  -moz-box-shadow: 2px 4px 4px 2px rgba(0,0,0,0.7);
}