a {
    text-decoration:none;
    color: #008CBA;
}

/* unvisited link */
a:link {
    color: #008CBA;
	/*color: blue;*/
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: #008CBA;
}

.tresponsive{
	/*overflow-x:auto;*/
	width:90%;
	margin:auto;
}

.pagination a {
    color: wight;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
