/*layout*/
*, *::before, *::after {
  box-sizing:border-box;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
}
body{
  background-color: rgb(255, 255, 255);
}
header{
  background: /*url("../assets/img background/Layer 19.png"),*/ url("../assets/img background/Layer 20.png") no-repeat fixed /*center*/;
  background-size: cover;
  max-width: 1300px;
  max-height: 566px;
  margin: 0 auto;
  position: relative;
}
img.logo{
  position: absolute;
  /*top: 30px;
  left: 142px;*/
  margin-top: 30px;
  margin-left: 142px;
}
h1.logo{
  font-size: 41px;
  color: #fff;
  font-family: "Lucida Sans";
  font-style: italic;
  text-transform: uppercase;
  padding-top: 40px;
  margin-left: 232px;
  margin-top: 0;
}

.motto{
  font-size: 63px;
  letter-spacing: 1px;
  color: #f5c506;
  font-family: "Asap";
  font-weight: 400;
  text-align: center;
}
nav{
  font-size: 17px;
  letter-spacing: 0px;
  color: #9b7d08;
  font-family: "Segoe WP";
  text-align: center;
}