h1.logo{
  font-size: 41px;
  letter-spacing: 0px;
  color: #fff;
  font-family: "Lucida Sans";
  font-style: italic;
  text-align: center;
  box-shadow: 1px 1.732px 0px rgba(0,0,0,0.42);
}
.motto{
  font-size: 63px;
  letter-spacing: 1px;
  color: #f5c506;
  font-family: "Asap";
  font-weight: 400;
  text-align: center;
}
nav{
  font-size: 17px;
  letter-spacing: 0px;
  color: #9b7d08;
  font-family: "Segoe WP";
  text-align: center;
}